@import url("variables.css");

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-accent);
  padding: 20px;
  text-align: center;

  .admin-link {
    color: var(--color-warning);
    font-weight: bold;
    margin-right: 15px;
    text-decoration: none;
    border-left: 2px solid var(--color-warning);
    padding-left: 10px;
    transition: color 0.3s;
  }

  .admin-link:hover {
    text-decoration: underline;
    color: var(--color-hover);
  }

  .auth-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  nav {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }

  nav a {
    color: var(--color-text-light);
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }

  nav a:hover {
    background-color: var(--color-secondary);
    color: var(--color-text-light);
  }
}