@import url("variables.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  background-image: url("https://www.transparenttextures.com/patterns/flowers.png");
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
