@import url("../main_style/variables.css");

.alert-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
}

.alert-modal.active {
  opacity: 1;
  visibility: visible;
}

.alert-modal__content {
  margin: 0 auto;
  background-color: white;
  padding: 25px;
  border-radius: 12px;
  width: max-content;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-100px);
  transition: transform 0.3s ease-out;
}

.alert-modal.active .alert-modal__content {
  transform: translateY(0);
}

.alert-modal.hiding {
  opacity: 0;
}

.alert-modal.hiding .alert-modal__content {
  transform: translateY(-100px);
}

.alert-modal__title {
  margin-top: 0;
  color: #333;
  font-size: 24px;
}

.alert-modal__text {
  color: #666;
  margin-bottom: 20px;
  font-size: 16px;
}

.alert-modal__button {
  padding: 10px 20px;
  background: #4caf50;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.alert-modal__button:hover {
  background: #45a049;
}
