.frame {
  padding: 20px;
  background: #a0b299;
  border-radius: 12px;
}

.container {
  padding: 20px;
  margin: 0 auto;
}

.main-card {
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: min-content;
}

.main-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  h1 {
    font-size: 24px;
    margin: 0;
  }

  select {
    height: min-content;
    padding: 5px 10px;
    border-radius: 8px;
    border: #000000 2px solid;
  }
}

.cart-items-container {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 20px;
}

.product-card {
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  box-sizing: border-box; /* Убедитесь, что отступы и граница входят в размеры карточки */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card > img {
  height: 150px;
  background-color: #f0f0f0;
  border-radius: 5px;
  margin-bottom: 10px;
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.product-card > h3 {
  text-align: center;
}

.price {
  text-align: center;
}

.actions {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.open-reviews {
  background: none; /* Убираем фон */
  border: none; /* Убираем границу */
  cursor: pointer; /* Изменяем курсор на указатель */
  padding: 0; /* Убираем лишние отступы */
}

.open-reviews > img {
  width: 24px;
  height: 24px;
  color: transparent;
  stroke: #000;
  transition: color 0.3s, stroke 0.3s;
}

.add-to-cart,
.quick-view {
  margin-bottom: 8px;
  display: block;
  width: 100%;

  color: rgb(0, 0, 0);
  padding: 10px 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: #644b6c;
}

.product-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #70305f;
}
.add-to-favorite {
  background: none; /* Убираем фон */
  border: none; /* Убираем границу */
  cursor: pointer; /* Изменяем курсор на указатель */
  padding: 0; /* Убираем лишние отступы */
}

.add-to-favorite .heart-icon {
  width: 24px; /* Размер иконки */
  height: 24px;
  color: transparent; /* Прозрачное сердце */
  stroke: #000; /* Цвет рамки/линии иконки */
  transition: color 0.3s, stroke 0.3s; /* Анимация */
}

.add-to-favorite:hover .heart-icon {
  stroke: #5e0964;
}

.auth-message {
  text-align: center;
  padding: 20px;
  font-size: 18px;
  margin: 10px auto;
}

.auth-message p {
  margin-bottom: 15px;
}

@media (max-width: 680px) {
  .container {
    margin: 10px 20px;
    flex-direction: column;
    align-items: center;
  }
}

.add-to-favorite.active {
  animation: pulse 0.5s;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.heart-icon {
  transition: fill 0.3s ease;
}
