@import url("../main_style/variables.css");

.product-card {
  border: 1px solid var(--color-border);
  padding: 15px;
  border-radius: 10px;
  width: 200px;
  box-shadow: var(--shadow-sm);
  background-color: var(--color-bg-secondary);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card > img {
  background-color: var(--color-light);
  border-radius: 5px;
  max-width: 100%;
}

.product-card > h3 {
  text-align: center;
}

.price {
  text-align: center;
}

.actions {
  margin-top: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.open-reviews {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.open-reviews > img {
  width: 24px;
  height: 24px;
  color: transparent;
  stroke: var(--color-text);
  transition: color 0.3s, stroke 0.3s;
}

.add-to-cart,
.quick-view {
  margin-bottom: 8px;
  display: block;
  width: 100%;
  color: var(--color-text);
  padding: 10px 0;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 18px;
  color: var(--color-secondary);
}

.product-card p {
  margin: 5px 0;
  font-size: 14px;
  color: var(--color-primary);
}

.add-to-favorite {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

.add-to-favorite .heart-icon {
  width: 24px;
  height: 24px;
  color: transparent;
  stroke: var(--color-text);
  transition: color 0.3s, stroke 0.3s;
}

.add-to-favorite:hover .heart-icon {
  stroke: var(--color-primary-light);
}
